# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.o

# CPP libraries
*.so

# Build files
code_boost/src/build/*

# Pycharm IDE configuration
.idea/

#captures
captures/*
tures/*
code/*.pcap
code/*.xml
code_boost/src/SQLiteCpp/
code_boost/src/cmake-build-debug/
code_boost/src/cmake-build-debug/*
test.py
dbs/
*.csv
